<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="sample" class="com.greencacti.DependsOnExoticType">
        <property name="type" value="Jarod 5"/>
    </bean>

    <!-- The following is optional. Because we use the naming convention.
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="com.greencacti.ExoticType" value="com.greencacti.ExoticTypeEditor"/>
            </map>
        </property>
    </bean>
    -->
</beans>